<turbo-frame id="current-chat">
  <%= turbo_stream_from "#{dom_id(chat)}_messages" %>
  <div id="<%= dom_id chat %>" class="container-fluid min-ht-40 vh-75" style="min-height: 80%;">
    <div id="<%= dom_id(@chat) %>_messages" class="h-100">
      <%= render chat.messages %>
    </div>
  </div>
  <div id="<%=dom_id(@chat)%>_message_form">
    <%= form_with(model: Message.new, url: [chat, chat.messages.new]) do |form| %>
      <div class="input-group mb-3">
        <%= form.text_field :content, placeholder: 'Start your dicussion ..', class: 'form-control' %>
        <button class="btn btn-outline-secondary" type="submit" id="button-addon2"><i class="fa-duotone fa-paper-plane-top"></i></button>
      </div>
    <% end %>
  </div>
</turbo-frame>
